* {margin:0;padding:0;}

body {
  margin: 0px;
  padding: 0px;
  /*overflow: hidden;*/
}

#header {
  background-color: #182426;
  border-bottom: 5px solid #efefef;
}

#filename {
  border: none;
  width: 90%;
  text-indent: 10px;
  background-color: #182426;
}

#filename, button {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
}

#header button {
  display: block;
  background-color: #10181d;
  border: none;
  border-left: 2px solid #383838;
  padding-left: 8px;
  padding-right: 8px;
  float: right;
  cursor: pointer;
}

#header button:last-child {
  /*border-left: 1px solid #282828;*/
}

#header button:hover {
  background-color: #30383d;
}

#file-viewer {
  position: absolute;
  top: 32px;
  left: 0px;
  right: 0px;
  padding: 0px;
  background-color: rgba(48, 50, 52, 0.9);
  color: #dedede;
  z-index: 1111;
  max-height: 95%;
  overflow: scroll;
}

.hidden {
  display: none;
}

#file-viewer ul {
  overflow: scroll;
  list-style-type: none;
}

#file-viewer li {
  display: block;
  padding: 6px 20px;
}

#file-viewer .selected {
  background-color: #525a62;
}
